<!-- templates/_base.html -->
{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Chess Portal</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body class="bg-slate-700">

    <!-- Add this -->
    {% block navbar %}
    {% endblock navbar %}
  
    <!-- End of new HTML -->

    <!-- <div class="w-full mx-auto mt-4"> -->
        {% block content %}
        {% endblock content %}
    <!-- </div> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>

</html>