<!-- templates/index.html -->

{% extends "_base.html" %}
{% load static %}
{% load compress %}

{% block navbar %}
<nav class="sticky top-0 z-50 bg-gray-800 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="{{ .Site.Params.homepage }}/" class="flex items-center">
        <img src="../../static/images/logo.png" class="h-6 mr-3 sm:h-9" alt="Chessers Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Chessers</span>
    </a>
    <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
      <ul class="flex flex-col mt-4 md:flex-row md:space-x-5 md:mt-0 md:text-sm md:font-medium">
        <!--  <button type="button" data-modal-target="play-modal" data-modal-toggle="play-modal" class="px-3 py-2 text-sm font-medium text-center bg-orange-500 rounded-lg hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-blue-300">Play</button> -->
        <!-- <button type="button" data-modal-target="join-modal" data-modal-toggle="join-modal" class="px-3 py-2 text-sm font-medium text-center bg-orange-500 rounded-lg hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-blue-300">Join</button> -->
        <a href="{% url 'logout' %}"><button type="button" class="px-3 py-2 text-sm font-medium text-center bg-orange-500 rounded-lg hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-blue-300">Logout</button></a>
    </ul>
    </div>
  </div>
</nav>

{% endblock navbar %}

{% block content %}



<section class="bg-slate-700 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-white dark:text-white">Create a tournament</h2>
        <form action="{%url 'Create' %}" method="POST">
          {%csrf_token%}
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6" id="container">
                <div class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-white dark:text-white">tournament Name</label>
                    <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type Tournament Name" required="">
                </div>
                <div class="w-full">
                    <label for="username 1" class="block mb-2 text-sm font-medium text-white dark:text-white">username 1</label>
                    <input type="text" name="username 1" id="username 1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type username" required="">
                </div>
                <div class="w-full">
                  <label for="username 2" class="block mb-2 text-sm font-medium text-white dark:text-white">username 2</label>
                  <input type="text" name="username 2" id="username 2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type username" required="">
               </div>
            </div>
           
            <button id="create" type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-slate-700 bg-white rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Create
            </button>
        </form>
        <button id="AddUser" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-slate-700 bg-white rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
          Add user
        </button>
    </div>
  </section>

{% endblock content %}
{% block javascript %}
<script>
let x=3;
function createInputElement(type, name, parentElement) {
  const divElement = document.createElement("div");
  divElement.classList.add("w-full")
  const lableElement=document.createElement("label");
  const InputElement=document.createElement("input");
  lableElement.for=name
  lableElement.classList.add("block");
  lableElement.classList.add("mb-2");
  lableElement.classList.add("text-sm");
  lableElement.classList.add("font-medium");
  lableElement.classList.add("text-white");
  lableElement.textContent=name
  InputElement.type=type
  InputElement.name=name
  InputElement.id=name
  InputElement.required="True"
  InputElement.placeholder="Type username"
  console.log(lableElement.classList);
  var classes=["bg-gray-50", "border" ,"border-gray-300", "text-gray-900", "text-sm", "rounded-lg", "focus:ring-primary-600","focus:border-primary-600", "block", "w-full", "p-2.5"];
  for(var i=0; i<classes.length; i++){
    InputElement.classList.add(classes[i])
  }
  parentElement.append(divElement);
  console.log(InputElement.classList);
  divElement.appendChild(lableElement);
  divElement.appendChild(InputElement);
}
var element=document.getElementById("container");
var AddButton=document.getElementById("AddUser");
AddButton.addEventListener("click",(e)=>{
  createInputElement("text","username "+x,element);
  x++;
})

var createButton=document.getElementById("create");

</script>
{% endblock javascript %}